body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #fff;
    text-align: left;
    padding: 20px;
}

h1 {
    color: #00d4ff;
    font-size: 2em;
    text-shadow: 0 0 10px rgba(0, 212, 255, 0.8);
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligner le formulaire et la carte au même niveau */
    flex-wrap: wrap; /* Pour s'adapter aux petits écrans */
}

form {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 35%;
    font-size: 0.9em;
}

input, select, button {
    width: calc(100% - 30px);
    padding: 10px;
    margin: 8px 15px;
    border: none;
    border-radius: 4px;
    font-size: 0.9em;
}

input, select {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

button {
    background: linear-gradient(45deg, #00d4ff, #0078ff);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    margin: 8px 15px 0 15px;
}

button:hover {
    background: linear-gradient(45deg, #0078ff, #00d4ff);
}

#result {
    width: calc(100% - 30px);
    padding: 10px;
    margin: 8px 15px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #00d4ff;
    border-radius: 4px;
    font-size: 0.9em;
    text-align: center;
}

#map {
    height: 500px;
    width: 60%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
